<!DOCTYPE HTML5>
<head>
	<meta charset="UTF-8" />
	<html lang="pt-br">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gerador de Parecer</title>

	<link rel="stylesheet" href="/static/styles.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<h1>Gerador de Parecer</h1>
	<h3> Gerador de pareceres em processos licitatórios de Pregão</h3>
</header>

<main>
    {% block main %}{% endblock %}
</main>
<footer>Made with ♥ <a href="http://github.com/pliniocode/"> Plínio</a></footer>

</body>